@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Lang("PostedIn.PageTitle");
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="postedin row">

    <h3 class="title-bar">@ViewBag.Title</h3>

    @Html.Action("TopicsMemberHasPostedIn", "Topic")

</div>