@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = "Clube da Retro | Tópicos Recentes";
    ViewBag.MetaDesc = "Confira os tópicos mais recentes sobre as retroescavadeiras.";
}

@section side
{
    @Html.Partial("_CommonSideNav")
}
<div class="row default-header">
    <div class="col-md-12">
        <h3 class="title-bar">Tópicos Recentes</h3>
    </div>
</div>
<div class="postedin">

    @*<h1>@ViewBag.Title</h1>*@

    @Html.Action("TopicosRecentesShow", "Topic")

</div>