@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = "Clube da Retro | Tópicos Recentes";
    ViewBag.MetaDesc = "Confira os tópicos mais recentes sobre as retroescavadeiras.";
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="postedin">

    @*<h1>@ViewBag.Title</h1>*@
    <h1>Tópicos Recentes</h1>

    @Html.Action("TopicosRecentesShow", "Topic")

</div>