@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = "Clube da Retro | Tópicos Mais Vistos";
    ViewBag.MetaDesc = "Acesse os tópicos mais vistos no Clube da Retro.";
}

@section side
{
    @Html.Partial("_CommonSideNav")
}
<div class="row default-header">
    <div class="col-md-12">
        <h3 class="title-bar">Tópicos Mais Vistos</h3>
    </div>
</div>
<div class="postedin">

    @*<h1>@ViewBag.Title</h1>*@

    @Html.Action("TopicosMaisVistosShow", "Topic")

</div>