@{
    Layout = "~/Views/Shared/_LayoutRightSideBarDefault.cshtml";
    ViewBag.Title = "Clube da Retro | Universo da Retro";
    ViewBag.MetaDesc = "Fotos, vídeos e conteúdos exclusivos sobre as retroescavadeiras Case.";
}

@section side
{
    <div class="topics side lista-noticias">
        <h3 class="title-bar">Notícias <span>recentes</span></h3>
        @Html.Action("GetNoticiaByGuid", "Post", new { value = "028B824F-6900-4FB3-8897-A984002E732D", total = 10 })
        <a class="btn btn-primary" href="/noticias">Ver todas</a>
    </div>
}
    <div class="row default-header">
        <div class="col-md-12">
            <h3 class="title-bar">Mídia</h3>
        </div>
    </div>
    <div class="row header-btns hidden">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary btn-universo active">Fotos</a>
            <!-- <a href="#" class="btn btn-primary btn-universo">Vídeos</a> -->
        </div>
    </div>
    <div class="postedin">
        @*@Html.Action("GetPostByGuid", "Post", new { value = "d4880976-70da-474c-8533-a9820006a639" })*@

        @*@Html.Action("TopicsMemberHasPostedIn", "Topic")*@

        @Html.Action("FotosUsuarios", "Topic")

    </div>