$orange: #FAA21B; // is the new
$black: #000;
$white: #FFF; // people problem
$light-black: rgba($color: #000, $alpha: 0.6);

a.clr-orange {
    color: $orange;
    &:hover {
        color: lighten($color: $orange, $amount: 10%)
    }
}