@import 'colors';

.btn-primary, .btn-secondary {
  min-width: 122px;
  min-height: 44px;
  color: $black !important;
  text-transform: uppercase;
  line-height: 44px;
  padding: 0 20px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.11);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.11);
  font-weight: 500;
  font-size: 1em;
}
.btn-primary {
  background: $orange;
  border-color: $orange;
  &:hover, &:active, &:focus {
    background: $white !important;
    border-color: $orange !important;
    color: $black !important;
  }
}
.btn-secondary {
  background: $white;
  border-color: $orange;
  color: $black !important;
  &:hover, &:active, &:focus {
    background: $orange !important;
    border-color: $orange !important;
  }
}
.btns-create-topic-holder {
  margin-top: 65px;
  border-top: 1px solid rgba($color: #707070, $alpha: 0.5);
}
.btns-create-topic {
  .btn-primary {
    background: #64696C;
    border-color: #64696C;
    color: $white !important;
    width: 100%;
    &:hover, &:active, &:focus {
      background: lighten($color: #64696C, $amount: 10%) !important;
      border-color: #64696C;
    }
  }
}
.btn-create {
  min-width: 0;
  font-size: 16px;
  width: 100%;
  text-transform: none;
  border: none;
  height: 60px;
  line-height: 60px;
  color: #64696C !important;
}
.btn-gray {
  min-width: 0;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  background: #64696C;
  text-transform: none;
  border: none;
  height: 44px;
  line-height: 36px;
  border-radius: 6px;
  color: $white;
  text-transform: uppercase;
  &:hover {
    background: lighten($color: #64696C, $amount: 10%);
    color: $white;
  }
}
.btn-full {
  width: 100%;
  margin-bottom: 30px;
}
.title-bar {
  display: block;
  width: fit-content;
  padding-right: 40px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: rgba($color: #000, $alpha: 0.6);
  background: url(../images/bg-title.png) no-repeat bottom right;
  span {
    font-weight: 300;
    display: block;
  }
}
.homesection .title-bar {
  margin-bottom: 40px;
}
.view-count, .comment-count {
    font-size: 14px;
    color: $orange;
    margin-left: 20px;
    i, .glyphicon {
        color: #373A3C;
    }
}

label {
  font-size: 16px;
  color: $light-black;
}
.form-control {
  height: 40px;
}
.pesquisar.input-group {
  display: flex;
}
.dropdown-menu {
  border: none;
  background: $orange;
  box-shadow: none;
  li {
    display: block !important;
  }
}
.createuploadfiles {
  .input-group {
    display: table;
  }
  .form-control {
    height: 34px;
  }
}