@import 'colors';
@import 'components';

body {
  font-family: 'Rubik' !important;
  font-weight: 500;
  background: #F5F5F5;
  color: rgba($color: #000, $alpha: 0.6);
}
a, a:visited {
  color: $orange;
}
@media (min-width:992px){
  .row .col-md-6:nth-child(2n+1){clear:left;}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-brand {
    img {
      width: 250px !important;
    }
  }
}
header {
  background: $white;
  .logo {
    background: url(../images/logo.svg) no-repeat 0 0;
    text-indent: -9999px;
    width: 262px;
    height: 64px;
    display: block;
    margin-top: 20px;
  }
  .user-top-tools {
    span {
      display: block;
      float: left;
      margin: 40px 0 0 50px;
      font-size: 16px;
      color: $light-black;
    }
  }
  .pesquisar {
    max-width: 260px;
    margin: 30px auto 0;
    input {
      border: 1px solid #EFEFEF;
      background: #FCFCFC;
      border-right: none;
      color: rgba($color: #404040, $alpha: 0.5);
      font-size: 16px;
      height: 46px;
      box-shadow: none;
    }
    button {
      border: 1px solid #EFEFEF;
      border-left: none;
      background: #FCFCFC;
      border-radius: 0 0.25rem 0.25rem 0;
      height: 46px;
      i {
        color: $light-black;
      }
    }
  }
  .user-logged {
    span {
      display: none;
    }
  }
  .nav-bar {
    height: 80px;
    background: $orange;
    margin-top: 22px;
    a {
      font-size: 18px;
      color: $black;
      padding: 0 1.6rem;
      margin-top: 30px;
    }
  }
  .btn-cadastrese {
    margin-left: 70px;
  }
}
.main-section {
  padding-top: 50px;
}

.destaque {
  margin-top: -50px;
  img {
    height: auto;
  }
  .slick-arrow {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 48px;
    top: 50%;
    border-radius: 24px;
    border: 3px solid $orange;
    background: $white;
    z-index: 999;
    line-height: 43px;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      left: 10px;
      width: 30px;
      height: 30px;
      line-height: 24px;
      top: 43%;
    }
    &.slick-next {
      right: 48px;
      left: initial;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 24px;
      }
    }
  }
}



.homesection {
  padding-top: 32px;
}

.topic-item {
  background: $white;
  border-radius: 6px;
  padding: 10px 7px;
  margin-bottom: 15px;
  min-height: 190px;
  .topic-image {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    min-height: 200px;
    max-height: 200px;
    &.text-image {
      background: $orange;
      text-align: center;
      min-height: 235px;
      font-size: 21px;
      color: $light-black;
      display:flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;
      a {
        color: $light-black;
        text-transform: uppercase;
        &:hover, &:focus, &:visited {
          text-decoration: none;
          color: $light-black;
        }
      }
    }
    img {
      width: 105%;
    }
  }
  .topic-bg-text {
    background: $orange;
    color: $black;
    min-height: 265px;
  }
  .topic-title {
    padding: 12px 7px;
    h4 {
      font-size: 21px;
      line-height: 1;
      a {
        color: rgba($color: #000, $alpha: 0.6);
        font-weight: 500;
        &:hover, &:active, &:focus {
          color: $orange;
          text-decoration: none;
        }
      }
    }
  }
  .topic-info-actions {
    border-top: 1px solid rgba(#707070, 0.2);
    padding: 15px 17px;
    .avatar {
      display: inline-block;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 17px;
      border: 1px solid #FFC11B;
      img {
        width: 100%;
      }
    }
    .name-date {
      display: inline-block;
      margin-left: 12px;
      p {
        margin: 0;
        font-size: 12px;
        line-height: 1.4;
        a {
          color: rgba($color: #000, $alpha: 0.6);
        }
        span {
          display: block;
          color: $orange;
        }
      }
    }
    .view-comment {
      display: block;
      float: right;
      margin-top: 15px;
      .stats {
        color: $orange;
      }
      i {
        color: $black;
      }
    }
  }
}

.side {
  .title-bar {
    margin-bottom: 40px;
  }
  .topic-item {
    padding: 15px 7px;
    margin-bottom: 20px;
    min-height: 140px;
    .topic-title {
      float: left;
      width: 55%;
      padding: 0 7px;
      min-height: 0px;
      h4 {
        font-size: 16px;
      }
    }
    .topic-image {
      float: left;
      max-width: 40%;
      margin-left: 12px;
      // min-height: 105px;
      min-height: 80px;
      font-size: 15px;
    }
    .topic-info-actions {
      border: none;
      float: left;
      width: 50%;
      padding: 0 7px;
      .name-date {
        margin: 0;
        span {
          display: inline;
        }
      }
      .view-comment {
        float: left;
      }
    }
    .topic-info-side {
      float: left;
      width: 56%;
      padding-left: 12px;
      h4 {
        font-size: 16px;
        margin: 0;
      }
      .topic-info-actions {
        border: none;
        padding: 0;
        .name-date {
          margin: 0;
          p {
            font-size: 10px;
            span {
              display: inline;
            }
          }
        }
        .view-comment {
          float: none;
          margin: 0;
          .view-count {
            margin: 0;
          }
        }
      }
    }
  }
  .btn-primary {
    margin: 10px 0 30px;
  }
  &.anuncios {
    .topic-item {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: 1px solid #F5F5F5;
      &:first-child {
        border-radius: 6px 6px 0 0;
      }
      &:last-child {
        border-radius: 0 0 6px 6px;
        border: none;
      }
      .topic-image {
        width: 25%;
        height: 72px;
        margin-left: 5px;
      }
      .topic-info-side {
        width: 70%;
      }
    }
    .btn-primary {
      margin: 30px 0 30px;
    }
  }
}

.videos {
  margin-top: 35px;
  .video-wrapper {
    background: $white;
    border-radius: 6px;
    padding: 40px 20px;
    .video-item {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 6px;
    }
    video {
      display: block;
    }
  }
  .btn-video {
    background: none;
    border: none;
    color: $white;
    position: absolute;
    left: 35px;
    top: 40%;
    z-index: 9999;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    &.slick-next {
      left: initial;
      right: 35px;
    }
  }
}
.dados-contato {
  p {
    font-size: 14px;
    color: $light-black;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 14px;
    margin-top: 35px;
    strong {
      font-size: 24px;
      display: block;
      font-weight: 700;
    }
  }
}
.menu-bottom {
  background: $black;
  padding: 60px 0;
  margin-top: 40px;
  ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
    li {
      display: block;
      margin-bottom: 15px;
      a {
        font-size: 16px;
        color: $white;
        display: block;
      }
      &:first-child {
        a {
          color: $orange;
        }
      }
    }
  }
}
.footer-nav {
  background: $black;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 30px;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      margin-bottom: 17px;
      a {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        strong {
          font-weight: 500;
          color: $orange;
        }
        &:hover, &:active, &:focus, &:visited {
          color: $white;
        }
      }
    }
  }
}
.faqs {
  padding-top: 30px;
  span {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #64696C;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  a {
    display: block;
    width: 100%;
    height: 60px;
    background: $white;
    font-size: 20px;
    font-weight: 700;
    color: #64696C;
    line-height: 60px;
    padding-left: 37px;
    margin-bottom: 30px;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      line-height: 1;
      padding-left: 10px;
      padding-top: 15px;
      font-size: 16px;
    }
    &:hover, &:active, &:focus {
      color: $orange;
      text-decoration: none;
    }
    i {
      font-size: 16px;
      color: $orange;
      float: right;
      margin: 23px 27px 0 0;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
      }
    }
  }
  p {
    padding: 35px;
    font-size: 20px;
    color: #64696C;
    font-weight: 400;
  }
}
footer {
  background: $white;
  padding: 40px 0;
  margin: 0;
  .link-termos {
    display: block;
    float: right;
    margin-top: 30px;
    font-size: 12px;
    color: #707070;
    text-transform: uppercase;
  }
  .logo {
    width: 262px;
    height: 64px;
    display: block;
    float: left;
    overflow: hidden;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      display: block;
      margin: 0 auto 10px;
      float: none;
    }
  }
  .logo-by-case {
    background: url(../images/logo-by-case.svg) no-repeat 0 0;
    text-indent: -9999px;
    width: 192px;
    height: 48px;
    display: block;
    margin-top: 15px;
    margin-left: 75px;
    float: left;
  }
}
.modal-header .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main-side-box {
  .btn {
    margin: 20px 0 40px;
  }
}

.forum-header {
  border-bottom: 1px solid #707070;
  padding-bottom: 38px;
  margin-bottom: 50px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 45px;
  }
}
.following, .searchmembers, .postedin, .myfavourites, .leaderboard, .badges {
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 50px;
  }
}

.bordered {
  border-top: 1px solid rgba($color: #707070, $alpha: .5);
  border-bottom: 1px solid rgba($color: #707070, $alpha: .5);
  padding-top: 65px;
  padding-bottom: 65px;
  h4 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #64696C;
  }
  input[type=text] {
    margin-top: 30px;
  }
  .btn-primary {
    height: 40px;
  }
}
.sharephoto {
  input[type=text] {
    margin-top: 0; 
  }
  .title-step {
    font-size: 20px;
    font-weight: 400;
    color: #64696C;
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .image-preview {
    padding-top: 30px;
    padding-bottom: 40px;
    img {
      width: 100%;
    }
  }
}
.sharenewtopic {
  .title-step {
    display: none;
  }
}
.default-header {
  border-bottom: 1px solid rgba($color: #707070, $alpha: .5);
  padding-bottom: 38px;
  margin-bottom: 50px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 45px;
  }
}

.register-form {
  h4 {
    font-size: 22px;
    font-weight: 400;
    color: #64696C;
    margin: 35px 0 21px;
  }
  .dados-retro {
    margin-top: 50px;
    margin-bottom: 30px;
    &#retro1 {
      margin-top: 110px;
    }
  }
}

.alert-success, .alert-info, .alert-warning, .alert-danger {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}
button.close {
  margin-left: 15px;
}

.relatedtopicskey {
  ul li a {
    color: $orange;
  }
}
.topic-sub-header {
  border-bottom: 1px solid rgba(#707070, 0.5);
  padding-bottom: 25px;
  margin-bottom: 42px;
  margin-top: -40px;
}
.view-comments-topic {
  margin: 0;
  padding: 0;
  float: right;
  li {
    display: inline-block;
    font-size: 14px;
    color: $orange;
    margin-left: 10px;
    i {
      color: #373A3C;
    }
  }
}
.user-topic-details {
  .usr-avatar {
    width: 35px;
    height: 35px;
    border: 1px solid $orange;
    overflow: hidden;
    float: left;
    border-radius: 17.5px;
    margin-right: 13px;
    img {
      display: block;
      width: 100%;
    }
  }
  .postmembername {
    font-size: 16px;
    font-weight: 500;
    color: rgba($color: #000000, $alpha: 0.6) !important;
  }
  .postmemberpostedin {
    display: block;
    color: $orange;
    font-size: 12px;
    font-weight: 500;
  }
}
.universo-retro {
  .topic-image {
    max-height: 0;
  }
}
.header-btns {
  border-bottom: 1px solid rgba($color: #707070, $alpha: .5);
  padding-bottom: 30px;
  margin-bottom: 50px;
  margin-top: -50px;
  .btn-universo {
    background: #EAEAEA;
    color: #64696C;
    border-color: #EAEAEA;
    margin-right: 25px;
    &:hover, &:active, &:focus, &.active {
      background: #FFFFFF;
      border-color: #FFFFFF !important;
      -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.11);
      -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.11);
      box-shadow: 0 3px 10px 0 rgba(0,0,0,.11);
    }
  }
}
.active-members {
  p {
    font-size: 20px;
    font-weight: 400;
    color: #64696C;
    margin: 20px 0;
  }
  ul {
    padding: 30px 35px;
    box-sizing: border-box;
    background: $white;
    border-radius: 6px;
    li {
      width: 56px;
      height: 56px;
      margin: 0 14px 20px 0;
      display: inline-block;
      a {
        img {
          width: 100%;
        }
      }
    }
  }
}
.categoryfollowing {
  .title-bar {
    margin-top: 5px;
    a {
      font-size: 26px;
      color: $light-black;
    }
  }
  .emailunsubscription {
    font-size: 16px;
    margin: 0;
  }
  .categoryrowfooter {
    border-top: 1px solid rgba(112,112,112,.5);
    margin-top: 15px;
    font-size: 16px;
    color: $light-black;
    font-weight: 400;
    padding-top: 15px;
    a {
      font-size: 16px;
    }
    &:before {
      display: none;
    } 
  }
}
.panel {
  background: none;
}
.tab-content {
  background: $white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  >.tab-pane {
    padding: 15px;
    p {
      img {
        width: auto;
        max-width: 90%;
      }
    }
  }
}
.lista-noticias {
  .categories-box {
    ul {
      li {
        padding-right: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
        h2 {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          margin: 0;
        }
      }
    }
  }
}