@model List<MvcForum.Core.Models.Entities.Post>
<div class="categories-box">
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a href="/noticias/@post.Id">
                    @Html.Raw(HttpUtility.HtmlDecode(post.PostContent))
                </a>
            </li>
        }
    </ul>
</div>