@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = "Clube da Retro | Redefinição de Senha";
    ViewBag.MetaDesc = "Altere ou redefina sua senha para acessar seu perfil no Clube da Retro. Esqueci minha senha Clube da Retro. Altere sua Senha.";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="mainheading">
            <h1>@ViewBag.Title</h1>
        </div>
        <p>@Html.LanguageString("Members.ResetPassword.Text")</p>
    </div>
</div>