<section class="footer-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <ul>
                    <li><a href="/universoRetro/"><strong>Universo da Retro</strong></a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="#"><strong>Fórum</strong></a></li>

                    <li><a href="/categoria/">Categorias</a></li>
                    <li><a href="/favoritos/">Favoritos</a></li>
                    <li><a href="/seguindo/">Seguindo</a></li>
                    <li><a href="/meusTopicos/">Meus Tópicos</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="#"><strong>Suporte CASE</strong></a></li>
                    <li><a href="/perguntasfrequentes/">Perguntas Frequentes</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="/sobre/"><strong>Sobre</strong></a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="/contato/"><strong>Contato</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="logo"><img width="262" src="/Themes/Metro/Content/images/logo.svg" alt="Case da Retrô" class="logoimg"></a>
                <a href="#" class="logo-by-case">By CASE</a>
            </div>
            <div class="col-md-6">
                <a href="#" class="link-termos" data-toggle="modal" data-target="#modalTermos">termos de uso e política de privacidade do Clube da Retro</a>
                <div id="modalTermos" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>TERMOS DE USO – CASE CE</h4>
                        </div>
                        <div class="modal-body">
                            <p>A CASE Construction Equipment é uma marca pertencente à CNH Industrial, uma das líderes
                            globais no setor de bens de capital. O site Clube da Retro criado e gerenciado pela CASE
                            Construction Equipment Brasil é um local para os proprietários, operadores e entusiastas de
                            retroescavadeiras se relacionarem e discutirem sobre os produtos, mercado e sobre ações
                            relacionadas a esses temas, como eventos, anúncios, dicas e discussões técnicas. Todos os
                            comentários, imagens, vídeos e outros tipos de materiais postados por fãs neste site
                            (“Conteúdo do Usuário”) não refletem as opiniões e ideais da CASE Construction Equipment,
                            seus colaboradores e/ou afiliados.</p>

                            <p>A CASE Construction Equipment não representa nem garante a exatidão de qualquer
                            afirmação ou reclamação feitas aqui sobre seus produtos, bem como não se responsabiliza por
                            qualquer Conteúdo do Usuário postado neste site, além de não endossar quaisquer opiniões
                            expressas nesta página.</p>

                            <p>Todos os usuários devem estar de acordo com os Termos de Uso da CASE Construction
                            Equipment. Nós não monitoramos todos os posts feitos por usuários na página do Clube da
                            Retro. No entanto, esperamos que os usuários não postem quaisquer materiais que estejam
                            nas seguintes categorias, eliminando aqueles que se enquadrem qualquer das hipóteses
                            abaixo:</p>

                            <ul>
                            <li>Difamem, abusem, molestem, importunem, ameacem ou violem os direitos e
                            atributos (tais como os direitos de privacidade e intimidade) além de outros.</li>
                            <li>Publiquem, postem, distribuam ou disseminem qualquer informação ou material
                            difamatório (inclusive relacionado aos nossos produtos e serviços), transgressor,
                            obsceno, indecente, enganoso ou ilícito.</li>
                            <li>Façam o upload ou anexem arquivos que contenham software ou outros materiais
                            protegidos por leis de propriedade intelectual (ou por direitos de privacidade e
                            publicidade), a menos que o usuário detenha ou controle os direitos ou tenha
                            recebido todos os consentimentos necessários.</li>
                            <li>Façam o upload ou anexem arquivos que contenham vírus, estejam corrompidos, ou
                            qualquer outro software similar ou programas que possam danificar a operação de
                            qualquer computador.</li>
                            <li>Excluam quaisquer atribuições autorais, avisos legais ou de propriedade.
                            <li>Falsifiquem a origem ou fonte do software ou outro material presente num arquivo
                            que já foi postado.</li>
                            <li>Difamem ou, de alguma forma, prejudiquem a imagem do(s) produto(s) da CASE
                            Construction Equipment perante seu público consumidor.</li>
                            </ul>

                            <br>
                            <strong>POLÍTICA DE PRIVACIDADE</strong>
                            <br>
                            <br>
                            <p>PEDIMOS QUE LEIA COM ATENÇÃO NOSSA POLÍTICA DE PRIVACIDADE PARA CONHECER AS
                            VANTAGENS, FACILIDADES E RECURSOS DISPONÍVEIS NO SITE CLUBE DA RETRO, BEM COMO OS
                            TERMOS E CONDIÇÕES EM QUE SUAS INFORMAÇÕES PESSOAIS SERÃO UTILIZADAS. ESTA
                            POLÍTICA PODERÁ SER ATUALIZADA, A QUALQUER TEMPO, PELA CASE.
                            Assim, verifique sempre as eventuais mudanças ocorridas, mantendo-se em dia com os novos
                            procedimentos adotados. E, caso não concorde com qualquer alteração, lembre-se que você
                            poderá alterar seu perfil a qualquer momento.</p>

                            <strong>1.1 – Privacidade</strong>
                            <p>O site do Clube da Retro foi desenvolvido visando assegurar que sua privacidade online seja
                            respeitada e suas informações pessoais devidamente protegidas. Conheça a seguir as
                            providências que tomamos para proteger as informações pessoais que nossos visitantes
                            poderão compartilhar conosco, assim como as formas de utilização destas informações e com
                            quem estas poderão ser compartilhadas. Outras importantes informações sobre os termos e
                            condições de utilização deste Site estão disponíveis na página Termos de Uso.</p>

                            <strong>1.2 – Informações coletadas – finalidade, atualização ou mudança de perfil e forma de
                            utilização</strong>

                            <p>Através deste Site, a CASE Construction Equipment busca criar mais um canal de
                            comunicação com você, com a possibilidade de conhecê-lo melhor e poder prestar serviços e
                            informações que atendam às suas necessidades, expectativas e preferências. Ao preencher o
                            cadastro, você perceberá que algumas informações são obrigatórias para o seu
                            cadastramento, sendo certo que outras se fazem importantes para que a CASE possa
                            identificá-lo melhor. Portanto, quanto mais informações forem compartilhadas com a CASE,
                            maior será a chance de sucesso deste nosso relacionamento.</p>

                            <p>Com o seu cadastramento, você terá acesso aos diversos recursos disponíveis neste Site,
                            alguns dos quais, são restritos aos clientes cadastrados.</p>

                            <p>Suas informações serão armazenadas em um Servidor Seguro e somente poderão ser acessadas
                            através de uma senha pessoal, que será escolhida por você no momento de seu cadastro. Não
                            divulgue sua senha à terceiros sob nenhuma circunstância.</p>

                            <p>Você poderá atualizar, adicionar ou até mesmo excluir, a qualquer tempo, quaisquer
                            informações que tenham sido compartilhadas conosco. Para tanto, basta atualizar seu
                            cadastro.</p>

                            <p>Seus dados pessoais poderão ser compartilhados com os Parceiros e aliados da CASE
                            Construction Equipment. A não ser que você especifique no seu cadastro, suas informações
                            CASE bem poderão ser divulgadas aos Parceiros de negócios da CASE.</p>

                            <p>A CASE Construction Equipment poderá utilizar seu e-mail para enviar correspondências,
                            materiais promocionais e institucionais, bem como para fazer confirmações ou cancelamentos
                            de reservas. Se você não quiser receber e-mails da CASE ou de nossos Parceiros e aliados,
                            atualize seu Cadastro.</p>

                            <strong>1.3 - Cookies</strong>

                            <p>A CASE Construction Equipment poderá utilizar instruções eletrônicas, conhecidas como
                            (&quot;cookies&quot;), que serão enviadas ao browser e armazenadas no disco do seu computador. A
                            finalidade dos cookies é verificar quem são os usuários do(s) website(s) da Case, para,
                            eventualmente, facilitar sua navegação com as características, preferências e qualidade das
                            informações veiculadas por seus cadastrados. Esses dados são usados para certificarmos de
                            que estamos enviando a você as informações que deseja receber e ler.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>