@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    ViewBag.Title = "Clube da Retro | Manuais";
    ViewBag.MetaDesc = "Consulte os manuais";
}

@section side
{
    @*@Html.Partial("_CommonSideNav")*@
    @*@Html.Action("GetPostByGuid", "Post", new { value = "f7d90b4f-3bb9-440a-91af-a98200078c59" })*@
    
    @*@Html.Action("GetActiveMembers", "Members")*@
}

<div class="postedin">


    <div class="row default-header">
        <div class="col-md-12">
            <h3 class="title-bar">Manuais</h3>
        </div>
    </div>
    <div class="row faqs">
        <div class="col-md-12">
            <span>Escolha entre as marcas para baixar o manual:</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="topic-item">
                <div class="topic-image">
                    <a title="" href="">
                        <img src="/content/uploads/58a2041e-0080-4d3f-938e-a9a001146347/94ih9s5e-int-post-004-nov18-pode.jpg?width=690&amp;upscale=false" alt="">
                    </a>
                </div>
                <div class="topic-title">
                    <h4>
                        <a title="" href="">
                            #OperaçãoPadrão – Dica 1
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="topic-item">
                <div class="topic-image">
                    <a title="" href="">
                        <img src="/content/uploads/58a2041e-0080-4d3f-938e-a9a001146347/94ih9s5e-int-post-004-nov18-pode.jpg?width=690&amp;upscale=false" alt="">
                    </a>
                </div>
                <div class="topic-title">
                    <h4>
                        <a title="" href="">
                            #OperaçãoPadrão – Dica 1
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="topic-item">
                <div class="topic-image">
                    <a title="" href="">
                        <img src="/content/uploads/58a2041e-0080-4d3f-938e-a9a001146347/94ih9s5e-int-post-004-nov18-pode.jpg?width=690&amp;upscale=false" alt="">
                    </a>
                </div>
                <div class="topic-title">
                    <h4>
                        <a title="" href="">
                            #OperaçãoPadrão – Dica 1
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

</div>