@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    ViewBag.Title = "Clube da Retro | Manuais";
    ViewBag.MetaDesc = "Consulte os manuais";
}

@section side
{
    @*@Html.Partial("_CommonSideNav")*@
    @*@Html.Action("GetPostByGuid", "Post", new { value = "f7d90b4f-3bb9-440a-91af-a98200078c59" })*@
    
    @*@Html.Action("GetActiveMembers", "Members")*@
}

<div class="postedin">


    <div class="row default-header">
        <div class="col-md-12">
            <h3 class="title-bar">Manuais</h3>
        </div>
    </div>
    <div class="row faqs">
        <div class="col-md-12">
            <span>Escolha entre as marcas para baixar o manual:</span>
        </div>
        <div class="col-md-12">
           
            
            
        </div>
    </div>

</div>